/* Main Styles */
body {
  font-family: "Open Sans", sans-serif;
}

// Variables
// LIGHT MODE
$white: #ffffff;
$light-blue: #b2d5ff;
$medium-blue: #548fd6;
$dark-blue: #18293d;

// DARK MODE
$light-purple: #bc6ff1;
$medium-purple: #892cdc;
$dark-purple: #52057b;
$black: #000000;

// CLOWN MODE
$clown-yellow: #f9f871;
$clown-orange: #ffc75f;
$clown-red: #ff5e78;
$clown-purple: #845ec2;

@mixin hover-state($property, $color) {
  &:hover {
    #{$property}: darken($color, 10%);
  }

  &:focus {
    #{$property}: darken($color, 15%);
  }

  &:active {
    #{$property}: darken($color, 20%);
  }
}

div.theme-icon {
  position: relative;

  & > i {
    position: absolute;
    right: 0;
    font-size: 2em;
    padding: 0.5em;
    cursor: pointer;

    &.light-mode {
      color: $white;

      @include hover-state(color, $white);
    }

    &.dark-mode {
      color: $light-purple;

      @include hover-state(color, $light-purple);
    }

    &.clown-mode {
      color: $clown-yellow;

      @include hover-state(color, $clown-yellow);
    }
  }
}

div.match-up {
  margin: auto;

  @mixin themed-styles($lightest, $lighter, $medium, $dark) {
    & {
      background-color: $medium;
      color: $lightest;

      div.match-up__centerText {
        color: $dark;
      }

      div.match-up__images {
        background-color: $lightest;

        div.match-up__imageItem {
          div.match-up__icon {
            color: $lightest;

            div.solid-circle {
              background: $medium;
            }
          }
        }
      }
    }
  }

  &.light-mode {
    @include themed-styles($white, $light-blue, $medium-blue, $dark-blue);
  }

  &.dark-mode {
    @include themed-styles($light-purple, $medium-purple, $dark-purple, $black);
  }

  &.clown-mode {
    @include themed-styles(
      $clown-yellow,
      $clown-orange,
      $clown-red,
      $clown-purple
    );
  }

  & > h4 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 0.5em;
    margin: 0;
  }

  & > h1 {
    font-size: 3em;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 1em;
  }

  div.match-up__centerText {
    font-style: italic;

    position: relative;
    width: 100%;
    height: 100%;

    & > p {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  div.match-up__images {
    width: 70%;
    height: 30vh;
    margin: auto;
    border-radius: 5px;

    display: flex;
    padding: 1em;

    div.match-up__imageItem {
      width: 50%;
      cursor: pointer;
      position: relative;

      div.match-up__icon {
        position: absolute;
        font-size: 3em;
        z-index: 2;
        right: 0.25em;

        // opacity transition on hover
        opacity: 0;
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        transition: all 0.25s ease;

        div.solid-circle {
          position: absolute;
          top: 0.25em;
          z-index: -1;
          width: 1em;
          height: 1em;
          border-radius: 50%;
        }
      }

      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        -webkit-filter: brightness(100%);
      }

      &:hover {
        div.match-up__icon {
          opacity: 1;
        }

        img {
          -webkit-filter: brightness(70%);
          -webkit-transition: all 0.25s ease;
          -moz-transition: all 0.25s ease;
          -o-transition: all 0.25s ease;
          -ms-transition: all 0.25s ease;
          transition: all 0.25s ease;
        }
      }

      &:active {
        div.match-up__icon {
          opacity: 0.5;
        }

        img {
          -webkit-filter: brightness(50%);
        }
      }
    }

    div.match-up__imageItem:nth-child(2) {
      padding-left: 1em;
    }
  }

  & > p {
    text-align: center;
    font-style: italic;
    padding: 2em 0em;
    font-weight: lighter;
  }
}

h2 {
  font-size: 2em;
  text-align: center;
  padding: 1em;
}

div.live-results {
  @mixin themed-styles($lightest, $lighter, $medium, $dark) {
    & {
      color: $dark;
      background-color: $lighter;

      div.live-results__results {
        background-color: $lightest;
        border: 2px solid $medium;
      }
    }
  }

  &.light-mode {
    @include themed-styles($white, $light-blue, $medium-blue, $dark-blue);
  }

  &.dark-mode {
    @include themed-styles($light-purple, $medium-purple, $dark-purple, $black);
  }

  &.clown-mode {
    @include themed-styles(
      $clown-yellow,
      $clown-orange,
      $clown-red,
      $clown-purple
    );
  }

  padding-bottom: 1em;

  div.live-results__results {
    width: 80%;
    border-radius: 5px;
    height: 400px;
    margin: auto;
    overflow-y: scroll;
    position: relative;
    padding: 1em 1em 0em 1em;

    div.live-results__resultItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 1em;

      img {
        max-height: calc(100px - 1em);
        max-width: calc(170px - 1em);
        object-fit: cover;
        object-position: center;
      }

      p:first-child {
        font-size: 2em;
        font-weight: bolder;
        width: 2em;
        margin-right: 5px;
      }

      p {
        text-align: center;
        margin-left: 5px;
      }

      .flex-basis-10 {
        flex-basis: 10%;
      }

      .flex-basis-15 {
        flex-basis: 15%;
      }

      .flex-basis-25 {
        flex-basis: 25%;
      }
    }

    div.live-results__noResults {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-style: italic;
    }
  }
}

div.search-for-matchups {
  @mixin themed-styles($lightest, $lighter, $medium, $dark) {
    & {
      color: $dark;
      background-color: $lighter;

      form {
        input {
          background-color: $lightest;
          color: $dark;
          border: 2px solid $medium;
        }

        & > button {
          background-color: $medium;
          color: $lightest;

          @include hover-state(background-color, $medium);

          &:disabled {
            background-color: $lighter;
            border: 1px solid $medium;
            color: $medium;
          }
        }
      }
    }
  }

  &.light-mode {
    @include themed-styles($white, $light-blue, $medium-blue, $dark-blue);
  }

  &.dark-mode {
    @include themed-styles($light-purple, $medium-purple, $dark-purple, $black);
  }

  &.clown-mode {
    @include themed-styles(
      $clown-yellow,
      $clown-orange,
      $clown-red,
      $clown-purple
    );
  }

  padding-bottom: 5em;

  form {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    & > div {
      padding-right: 5px;
    }

    input {
      padding: calc(1em - 2px);
      border-radius: 5px;
    }

    & > button {
      padding: 1em;
      border-radius: 5px;
      text-align: center;

      &:disabled {
        cursor: default;
      }
    }

    label {
      height: 22px;
    }

    .flex-grow-2 {
      flex-grow: 2;
    }

    .flex-column {
      display: flex;
      flex-direction: column;
    }

    .flex-20 {
      flex-basis: 20%;
    }

    .flex-40 {
      flex-basis: 40%;
    }
  }

  div.search-for-matchups__errorMessage {
    height: 22px;
  }

  div.search-for-matchups__invisibleErrorPlaceholder {
    opacity: 0;
    height: 22px;
  }
}

@media (max-width: 720px) {
  div.search-for-matchups {
    form {
      flex-direction: column;

      & > div {
        width: 86%;
        padding-right: 0;
      }

      & > button {
        margin-top: 0.75em;
        width: calc(80% - 6px);
      }
    }
  }
}

footer.github-footer {
  @mixin themed-styles($lightest, $lighter, $medium, $dark) {
    & {
      color: $lightest;
      background-color: $dark;

      & > a {
        @include hover-state(color, $lightest);
      }
    }
  }

  &.light-mode {
    @include themed-styles($white, $light-blue, $medium-blue, $dark-blue);
  }

  &.dark-mode {
    @include themed-styles($light-purple, $medium-purple, $dark-purple, $black);
  }

  &.clown-mode {
    @include themed-styles(
      $clown-yellow,
      $clown-orange,
      $clown-red,
      $clown-purple
    );
  }

  position: relative;
  padding: 2em;

  & > a {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;

    & > i {
      font-size: 2em;
      padding-right: 0.25em;
    }
  }
}
