/* Main Styles */
body {
  font-family: "Open Sans", sans-serif;
}

// Variables
// LIGHT MODE
$white: #ffffff;
$light-blue: #b2d5ff;
$medium-blue: #548fd6;
$dark-blue: #18293d;

// DARK MODE
$light-purple: #bc6ff1;
$medium-purple: #892cdc;
$dark-purple: #52057b;
$black: #000000;

// CLOWN MODE
$clown-yellow: #f9f871;
$clown-orange: #ffc75f;
$clown-red: #ff5e78;
$clown-purple: #845ec2;

@mixin hover-state($property, $color) {
  &:hover {
    #{$property}: darken($color, 10%);
  }

  &:focus {
    #{$property}: darken($color, 15%);
  }

  &:active {
    #{$property}: darken($color, 20%);
  }
}

h2 {
  font-size: 2em;
  text-align: center;
  padding: 1em;
}

@import "./modules/theme-icon.scss";
@import "./modules/match-up.scss";
@import "./modules/live-results.scss";
@import "./modules/search-for-matchups.scss";
@import "./modules/modal.scss";
