div.match-up {
  margin: auto;

  @mixin themed-styles($lightest, $lighter, $medium, $dark) {
    & {
      background-color: $medium;
      color: $lightest;

      div.match-up__centerText {
        color: $dark;
      }

      div.match-up__images {
        background-color: $lightest;

        div.match-up__imageItem {
          div.match-up__icon {
            color: $lightest;

            div.solid-circle {
              background: $medium;
            }
          }
        }
      }
    }
  }

  &.light-mode {
    @include themed-styles($white, $light-blue, $medium-blue, $dark-blue);
  }

  &.dark-mode {
    @include themed-styles($light-purple, $medium-purple, $dark-purple, $black);
  }

  &.clown-mode {
    @include themed-styles(
      $clown-yellow,
      $clown-orange,
      $clown-red,
      $clown-purple
    );
  }

  & > h4 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 0.5em;
    margin: 0;
  }

  & > h1 {
    font-size: 3em;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 1em;
  }

  div.match-up__centerText {
    font-style: italic;

    position: relative;
    width: 100%;
    height: 100%;

    & > p {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  div.match-up__images {
    width: 70%;
    height: 30vh;
    margin: auto;
    border-radius: 5px;

    display: flex;
    padding: 1em;

    div.match-up__imageItem {
      width: 50%;
      cursor: pointer;
      position: relative;

      div.match-up__icon {
        position: absolute;
        font-size: 3em;
        z-index: 2;
        right: 0.25em;

        // opacity transition on hover
        opacity: 0;
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        transition: all 0.25s ease;

        div.solid-circle {
          position: absolute;
          top: 0.25em;
          z-index: -1;
          width: 1em;
          height: 1em;
          border-radius: 50%;
        }
      }

      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        -webkit-filter: brightness(100%);
      }

      &:hover {
        div.match-up__icon {
          opacity: 1;
        }

        img {
          -webkit-filter: brightness(70%);
          -webkit-transition: all 0.25s ease;
          -moz-transition: all 0.25s ease;
          -o-transition: all 0.25s ease;
          -ms-transition: all 0.25s ease;
          transition: all 0.25s ease;
        }
      }

      &:active {
        div.match-up__icon {
          opacity: 0.5;
        }

        img {
          -webkit-filter: brightness(50%);
        }
      }
    }

    div.match-up__imageItem:nth-child(2) {
      padding-left: 1em;
    }
  }

  & > p {
    text-align: center;
    font-style: italic;
    padding: 2em 0em;
    font-weight: lighter;
  }
}
